.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  z-index: 1;
  width: 10px;
  height: 100%;
  cursor: col-resize;
}

.ant-table {
  padding: 1rem;
}

.ant-table-container {
  min-width: 500px;
  overflow-x: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ant-tooltip-placement-topLeft .ant-tooltip-arrow {
  left: 1px !important;
  bottom: 1px !important;
}

.ant-table-wrapper {
  width: 1383px !important;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: center;
}
